# Node dependencies
node_modules/
dist/
build/
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional - abaikan file cache sementara
*.log
*.tmp

# Abaikan file output dari framework
coverage/

# Backend specific
/Backend/node_modules/
/Backend/dist/
/Backend/.env

# Frontend specific
/Frontend/node_modules/
/Frontend/dist/
/Frontend/.env
